In [1]:
import numpy as np
import pandas as pd

## Presidents

In [13]:
presidents = {"name": ["Truman", "Eisenhower","Kennedy","Johnson","Nixon", "Ford", "Carter", "Reagan",
                      "Bush", "Clinton", "Bush", "Obama", "Trump", "Biden"],
             "party": ["D", "R", "D","D","R","R","D","R","R","D","R","D","R","D"]}

In [16]:
pres = pd.DataFrame(presidents, index = [1945, 1953, 1961, 1963, 1969, 1974, 1977, 1981, 1989, 1993, 2001, 2009, 2017, 2021])

In [17]:
pres

            name party
1945      Truman     D
1953  Eisenhower     R
1961     Kennedy     D
1963     Johnson     D
1969       Nixon     R
1974        Ford     R
1977      Carter     D
1981      Reagan     R
1989        Bush     R
1993     Clinton     D
2001        Bush     R
2009       Obama     D
2017       Trump     R
2021       Biden     D

In [20]:
pres.head(8)

            name party
1945      Truman     D
1953  Eisenhower     R
1961     Kennedy     D
1963     Johnson     D
1969       Nixon     R
1974        Ford     R
1977      Carter     D
1981      Reagan     R

In [19]:
pres.tail()

         name party
1993  Clinton     D
2001     Bush     R
2009    Obama     D
2017    Trump     R
2021    Biden     D

In [21]:
pres.describe()

        name party
count     14    14
unique    13     2
top     Bush     D
freq       2     7

In [22]:
pres.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14 entries, 1945 to 2021
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    14 non-null     object
 1   party   14 non-null     object
dtypes: object(2)
memory usage: 336.0+ bytes

In [ ]:
pres[pres["party"]] == 0, "name"]]